form input,
form textarea {
  width: 100%; }

form input[type="submit"] {
  margin-top: 15px; }

.title-img {
  height: 290px; }

div #response {
  background-color: #999999;
  border-radius: 7px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15px; }
